.check{
    width: 100%;
    display: flex;
}
.check-container{
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);

    margin: 5% auto 5% auto;
    padding: 2% 10% 2% 5%;
    width: 70%;
}

.item{
    margin-top: 1%;
    margin-left: 0 auto 1% auto;

}
.itemQuan{
    margin-left: 40%;
    /* border: 1px solid black; */
    
}
.itemPrice{
    margin-left: 30%;
}
.item input{
    width: 5%;
    margin: 0 1% 0 1%;
    text-align: center;
}
.item input::-webkit-outer-spin-button,
.item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

hr{
    margin-top: 3%;
}
.checkout-btn{
    background-color: #1aae9f;
    border-radius: 6px;
    border: none;
    padding: 5px;
    color: #fff;
}
/* css for payment page  */
.pay-container{
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5% auto 5% auto;
    padding: 2% 10% 2% 5%;
    width: 70%;
}
.vr{
    height: 100%;
    background-color: green;
    margin: 0 5em 0 5em;
}
.pay-method li {
    list-style-type: none;
    padding: 10px;
}
.pay-method li a {
    text-decoration: none;
    color: black;
}
#pay-meth li:hover{
    background-color: #1aae9f;
}



