.navbar{
    /* background-color: #f43127; */
    /* background: -webkit-linear-gradient(to right, #ff6014, #ff6014); */
	background: linear-gradient(to right, #FF416C, #ff6014);
    position: sticky;
    width: 100vw;
    margin-top: -1px;
    
  }
  .yellow{
    color: gold;
  }
  .navbar-brand,.nav-link{
    color: #fff;
    font-weight: 500;
    
  }
  .collapse{
    padding-right:30px ;
  }
  
  .pageName{
    padding-left: 50px;
  }