body{
  width: 100vw;
  background-color: #fbefe4;

}
.middle{
    width: 100%;
    display: flex;
}
.item-list{
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    margin: 5% auto 5% auto;
    padding: 2% 5% 2% 5%;
    width: 70%;
  
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: #222222;
    color: #fff;
  }
  
 .item-list td, th {
    border: 1px solid #8f7a7a;
    padding: 8px;
    text-align: center;

  }
  .item-list tr:nth-child(even) {
    background-color: #dddddd;
  }

  
/* course section  */
.open-button {
    background-color: #f43127;
    color: white;
    padding: 16px 20px;
    position: fixed;
    top: 60%;
    left: 88%;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    /* opacity: 0.8; */
    /* width: 180px; */
  }

  .cancel{
     background-color: transparent;
     border: none;
     position: absolute;
     top: 5%;
     left: 71%;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    width: 100%;
    top: 25%;
    left: 0;
    z-index: 9;
  }

  .form-popup-pac {
    display: block;
    /* margin-top: 20%; */
    
  }
  .paycard{
    margin: 7% 0 5% 0;

  }

  .middle .form-popup {
    display: none;
    /* position: relative; */
    width: 100%;
    top: 25%;
    left: 0;
    z-index: 9;
  }
 

/* add-item section / */

.itemform{
    margin-left: 25%;
    width: 50%;
    border: 2px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
    padding: 5%;
}
.itemform input,.itemform select, .qsubmit,#qds{

    border: none;
    padding-left: 16px;
    width: 70%;
    height: 2.2rem;
    margin:2% 0 1%  0;
    border: none;
    border-bottom: 1px solid #222222;

    margin-left: 15%;
}
.qsubmit{
    background-color: #f43127;
    width: 20%;
    padding: 0;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#qds{
    width: 70%;
    height: 5.2rem;
    margin:2% 0 1%  0;
    margin-left: 15%;
}
.close-btn{
  position: fixed;
  left: 70%;
  background: transparent;
  color: white;
  /* border: 1px solid black; */
  border-radius: 50%;
}
/* order page  */

.order-box {
  display: none;
  position: fixed;
  width: 50%;
  top: 25%;
  left: 25%;
  margin: 0 auto 0 auto;
  z-index: 7;
}

.content{
  padding: 2%;
  border-radius: 10px;
  background:linear-gradient(to right, #FF416C, #ff6014);
  /* color: #fff; */
}
.order-ready{
  background-color: transparent;
  color: green;
  margin: 10px 0 0px 83.28%;
  border: 1px solid rgb(255, 250, 250);
  border-radius: 5px;
}
#order-table{
  border:none;
}
#order-table  td, th {  
  padding: 8px;
text-align: center;
}
#order-table th{
  color: #000000;
  background-color: #fff;
}
/* for canteen page */
.update{
  visibility: hidden;
}

.updelete{
  background: transparent;
  border: none;
}

.updelete:hover{
  color: crimson;
}

#msg {
  Color : red;

  font-family: "Gill Sans", sans-serif;
  font-feature-settings: "smcp", "zero";
  
}

#orderlist{
  min-height: 300px;
}

.payform{
  width: 70%;
  border: 2px;
  border-radius: 9px;
  text-align: left;
  padding: 5%;
}
.payform input{
  border: none;
  padding-left: 16px;
  width: 100%;
  height: 2.2rem;
  margin:2% 0 1%  0;
  border: none;
  border-bottom: 1px solid #222222;
  margin-left: 15%;
}
.paycard{
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  margin: 5% auto 5% auto;
  padding: 2% 5% 2% 5%;
  width: 50%;
}
.paycard .qsubmit{
  width: 100px;
}

@media (max-width:786px){
  .item-list{
    width: 90%;
    overflow-x: scroll;
  }
}