.navbar{
	background: linear-gradient(to right, #FF416C, #ff6014);
    /* position: sticky; */
    position: fixed;
    width: 98.9vw;
    z-index: 1000;
    margin-top: -1px;
  }
  .yellow{
    color: gold;

  }
  .navbar-brand,.nav-link{
    color: #fff;
    font-weight: 500;
    
  }
  .collapse{
    padding-right:30px ;
  }
  .pageName{
    padding-left: 50px;
  }
  @media (max-width:786px){
    .nav-item{
      margin: 0 auto 0 auto;
    }
    .ham{
      margin-right: 2%;
    }
    .collapse{
      padding-right:0 ;
    }
  }