/* for box container  */
body{
    background-color: #fbefe4;
}
.main{
    border-radius: 10px;
    background-color: #fbefe4;
    display: grid;
    font-family: 'Sono', sans-serif;
    grid-template-columns: 33.33% 33.33% 33.33%  ;
    letter-spacing: -1.5px;
    padding-top: 30px;
}
.first{
    grid-column: span 3;
    padding-left: 5%;
}
.first h3{
    letter-spacing: -2px;
}
a{
    text-decoration: none;
}
.box{
    background-color: #fff;
    max-width: 70%;
    max-height: 424px;
    margin: 3% auto 3% auto;
    border-radius: 10px;
}


.image{
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px  10px 0px 0px ;

}
.image img{
    height: 251px;
    width: 242px;
}


/* for box button */
.box-btn{
    background: linear-gradient(to right, #FF416C, #ff6014);
    color: #fff ;
    width: 12.5rem;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    text-decoration: none;
}

.box-btn:hover{
    background: linear-gradient(to right, crimson, crimson);
}

.box:hover{
    box-shadow: 0px 0px 13px 6px rgba(155, 142, 142, 0.75);
}

.containers{
    display: flex;
    margin: 4%;
    column-gap: 20px;
    margin-top: 4%;
}
.main{
    width: 80%;
}


.sidebar{
    background-color: #fbefe4;
    position: sticky;
    width: 20%;
    top: 60px;
    height: 400px;
    border-radius: 10px;
    padding: 30px 0px 0px  15px ;
}
.wh{
    width: 90%;
}

.namePrice{
    display: grid;
    grid-template-rows: auto auto;
    padding: 2% 3% 2% 3%;
}
.name{
    padding-left: 6%;
}
.price{
    margin: 0 auto 0 auto;
}
.right{
    color: crimson;
    float: right;
    font-weight: 500;
    padding-right: 7%;
}

@media (max-width:1260px){
    .main{
        grid-template-columns: auto auto ;
        width: 100%;
    }
    .first{
        grid-column: span 2;
    }
   
    .box-btn{
        width: 10rem;
    }
    .logo{
        left:20%;
    }
}

@media (max-width:786px){

    .main{
        grid-template-columns: auto  ;
        width: 100%;
        margin-top: 10%;
    }
    
    .first{
        grid-column: span 1;
    }
    .sidebar{
        display: none;
    }
    .logo{
        top:10%;
    }
    .logo img{
        width: 200px;
    }

}

/* Top - Carousel */
.Hero-car{
    width:100%;
    height: 96vh;
}
.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
  }
.drk:after{
    content:"";
    display: block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5));
}

.logo{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, 0);
}

/* css for search  */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .search input {
    width: 100%;
    border: 3px solid #FF416C;
    border-right: none;
    padding: 15px;
    height: 46px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .searchTerm:focus{
    color: #FF416C;
  }
  
  .searchButton {
    width: 40px;
    height: 46px;
    border: 1px solid #FF416C;
    /* border-image: linear-gradient(to right, #FF416C, #ff6014); */
    background: linear-gradient(to right, #FF416C, #ff6014);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .abt-container h1{
    text-align: center;
  }
  .abt-container{
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    text-align: justify;
    margin: 5% auto 5% auto;
    padding: 2% 10% 2% 5%;
    width: 70%;
  }
  